/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

.row {
    padding-bottom: 10px;
}

.input-sm {
    font-size: 10px;
}

.control {
    padding: 0px;
    width: 22px;
}

.form {
    padding-top: 15px;
}

.addButton {
    border: 1px solid gray;
}

#wrap > .container {
    padding: 60px 15px 0;
}